.navigator{
    position: sticky;
    top:0;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(8px);
    padding:1rem;
    z-index: 20;
}
body{
    background-image:"/workspaces/Astral-Academy/pictures/milkyway.webp" ;
}